*.pyo
*.pyc
__pycache__
.DS_Store
.idea/
plugin.video.alfa/channels/okxxx.py
custom.py
test.py
last_fix.json
custom_code.json
.vscode/settings.json

plugin.video.alfa/servers/torrent.py

plugin.video.alfa/tools/.syncmetadata

plugin.video.alfa/tools/plugin.video.torrest/.syncmetadata

plugin.video.alfa/tools/plugin.video.torrest/lib/.syncmetadata

plugin.video.alfa/tools/plugin.video.torrest/resources/.syncmetadata

plugin.video.alfa/servers/debriders/.syncmetadata

plugin.video.alfa/servers/decrypters/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/Controls/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/Infoplus/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/NextDialog/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/Shortcut/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/side_menu/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/Windows/.syncmetadata

plugin.video.alfa/servers/.syncmetadata

plugin.video.alfa/resources/media/servers/.syncmetadata

plugin.video.alfa/resources/media/themes/.syncmetadata

plugin.video.alfa/resources/media/themes/default/.syncmetadata

plugin.video.alfa/resources/skins/.syncmetadata

plugin.video.alfa/resources/skins/Default/.syncmetadata

plugin.video.alfa/resources/skins/Default/720p/.syncmetadata

plugin.video.alfa/resources/skins/Default/media/.syncmetadata

plugin.video.alfa/resources/language/Spanish (Mexico)/.syncmetadata

plugin.video.alfa/resources/language/Spanish/.syncmetadata

plugin.video.alfa/resources/media/.syncmetadata

plugin.video.alfa/resources/media/channels/.syncmetadata

plugin.video.alfa/resources/media/channels/banner/.syncmetadata

plugin.video.alfa/resources/media/channels/thumb/.syncmetadata

plugin.video.alfa/resources/media/screenshots/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/smb/utils/.syncmetadata

plugin.video.alfa/modules/.syncmetadata

plugin.video.alfa/platformcode/.syncmetadata

plugin.video.alfa/resources/.syncmetadata

plugin.video.alfa/resources/language/.syncmetadata

plugin.video.alfa/resources/language/Catalan/.syncmetadata

plugin.video.alfa/resources/language/English/.syncmetadata

plugin.video.alfa/resources/language/Italian/.syncmetadata

plugin.video.alfa/resources/language/Portuguese (Brazil)/.syncmetadata

plugin.video.alfa/resources/language/Spanish (Argentina)/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/smb/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/smb/utils/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/nmb/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/codec/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/codec/ber/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/codec/cer/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/codec/der/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/codec/native/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/compat/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/pyasn1/type/.syncmetadata

plugin.video.alfa/lib/sambatools_py3/smb/.syncmetadata

plugin.video.alfa/core/.syncmetadata

plugin.video.alfa/lib/.syncmetadata

plugin.video.alfa/lib/assistant/.syncmetadata

plugin.video.alfa/lib/assistant/linux/.syncmetadata

plugin.video.alfa/lib/assistant/windows/.syncmetadata

plugin.video.alfa/lib/bencode/.syncmetadata

plugin.video.alfa/lib/btserver/.syncmetadata

plugin.video.alfa/lib/builtins/.syncmetadata

plugin.video.alfa/lib/cloudscraper/.syncmetadata

plugin.video.alfa/lib/cloudscraper/captcha/.syncmetadata

plugin.video.alfa/lib/cloudscraper/interpreters/.syncmetadata

plugin.video.alfa/lib/cloudscraper/user_agent/.syncmetadata

plugin.video.alfa/lib/Crypto/.syncmetadata

plugin.video.alfa/lib/Crypto/Cipher/.syncmetadata

plugin.video.alfa/lib/Crypto/Util/.syncmetadata

plugin.video.alfa/lib/future/.syncmetadata

plugin.video.alfa/lib/future/backports/.syncmetadata

plugin.video.alfa/lib/future/backports/email/.syncmetadata

plugin.video.alfa/lib/future/backports/email/mime/.syncmetadata

plugin.video.alfa/lib/future/backports/html/.syncmetadata

plugin.video.alfa/lib/future/backports/http/.syncmetadata

plugin.video.alfa/lib/future/backports/test/.syncmetadata

plugin.video.alfa/lib/future/backports/urllib/.syncmetadata

plugin.video.alfa/lib/future/backports/xmlrpc/.syncmetadata

plugin.video.alfa/lib/future/builtins/.syncmetadata

plugin.video.alfa/lib/future/moves/.syncmetadata

plugin.video.alfa/lib/future/moves/dbm/.syncmetadata

plugin.video.alfa/lib/future/moves/html/.syncmetadata

plugin.video.alfa/lib/future/moves/http/.syncmetadata

plugin.video.alfa/lib/future/moves/test/.syncmetadata

plugin.video.alfa/lib/future/moves/tkinter/.syncmetadata

plugin.video.alfa/lib/future/moves/urllib/.syncmetadata

plugin.video.alfa/lib/future/moves/xmlrpc/.syncmetadata

plugin.video.alfa/lib/future/standard_library/.syncmetadata

plugin.video.alfa/lib/future/tests/.syncmetadata

plugin.video.alfa/lib/future/types/.syncmetadata

plugin.video.alfa/lib/future/utils/.syncmetadata

plugin.video.alfa/lib/html/.syncmetadata

plugin.video.alfa/lib/http/.syncmetadata

plugin.video.alfa/lib/megaserver/.syncmetadata

plugin.video.alfa/lib/past/.syncmetadata

plugin.video.alfa/lib/past/builtins/.syncmetadata

plugin.video.alfa/lib/past/translation/.syncmetadata

plugin.video.alfa/lib/past/types/.syncmetadata

plugin.video.alfa/lib/past/utils/.syncmetadata

plugin.video.alfa/lib/pym/.syncmetadata

plugin.video.alfa/lib/pym/constants/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.0.8/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_armv7/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.0.8/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/android_x86/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/darwin/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/darwin/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/darwin/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/darwin/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/darwin/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/ios_arm/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/ios_arm/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/ios_arm/1.0.8/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/ios_arm/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/ios_arm/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs2/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs4/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs4/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs4/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs4/1.2.12/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_aarch64_ucs4/2.0.2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.0.11/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.1.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv6/1.1.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/1.2.12/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_armv7/2.0.2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mips/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mips/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs2/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs2/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs4/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs4/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_mipsel_ucs4/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/1.2.12/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86_64/2.0.2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/1.0.7/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/1.1.0/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/linux_x86/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/python_libtorrent/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows_x64/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows_x64/1.2.12/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows_x64/2.0.2/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/0.16.19/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/1.0.6/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/1.0.8/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/1.0.9/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/1.1.1/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/1.2.12/.syncmetadata

plugin.video.alfa/lib/python_libtorrent/windows/2.0.2/.syncmetadata

plugin.video.alfa/lib/quasar/.syncmetadata

plugin.video.alfa/lib/quasar/bjsonrpc/.syncmetadata

plugin.video.alfa/lib/quasar/quasar/.syncmetadata

plugin.video.alfa/lib/queue/.syncmetadata

plugin.video.alfa/lib/rarfiles/.syncmetadata

plugin.video.alfa/lib/rarfiles/android_arm/.syncmetadata

plugin.video.alfa/lib/rarfiles/android_arm64/.syncmetadata

plugin.video.alfa/lib/rarfiles/android-x64/.syncmetadata

plugin.video.alfa/lib/rarfiles/android-x86/.syncmetadata

plugin.video.alfa/lib/rarfiles/BSD_32/.syncmetadata

plugin.video.alfa/lib/rarfiles/BSD_64/.syncmetadata

plugin.video.alfa/lib/rarfiles/debian_amd64/.syncmetadata

plugin.video.alfa/lib/rarfiles/debian_i386/.syncmetadata

plugin.video.alfa/lib/rarfiles/linux__osmc_arm/.syncmetadata

plugin.video.alfa/lib/rarfiles/linux_32/.syncmetadata

plugin.video.alfa/lib/rarfiles/linux_64/.syncmetadata

plugin.video.alfa/lib/rarfiles/linux_arm/.syncmetadata

plugin.video.alfa/lib/rarfiles/linux_RHEL/.syncmetadata

plugin.video.alfa/lib/rarfiles/macosx_64/.syncmetadata

plugin.video.alfa/lib/rarfiles/macosx10_64/.syncmetadata

plugin.video.alfa/lib/rarfiles/windows/.syncmetadata

plugin.video.alfa/lib/reprlib/.syncmetadata

plugin.video.alfa/lib/rJs/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/nmb/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/codec/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/codec/ber/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/codec/cer/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/codec/der/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/codec/native/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/compat/.syncmetadata

plugin.video.alfa/lib/sambatools_py2/pyasn1/type/.syncmetadata

.syncmetadata
