*.pyo
*.pyc
__pycache__
.DS_Store
.idea/
plugin.video.alfa/channels/okxxx.py
custom.py
test.py
last_fix.json
custom_code.json
.vscode/settings.json

plugin.video.alfa/servers/torrent.py

plugin.video.alfa/channels/hdfull.py
