<object class="media_player" classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" id="vlc" events="False">
  <param name="Src" value="%video_url"></param>
  <param name="ShowDisplay" value="True"></param>
  <param name="AutoLoop" value="no"></param>
  <param name="AutoPlay" value="yes"></param>
  <embed type="application/x-google-vlc-plugin" name="vlcfirefox" autoplay="yes" loop="no" width="100%" height="100%" target="%video_url"></embed>
</object>