<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Puertos" type="lsep" />
        <setting default="8080" id="server.port" label="Puerto HTTP" type="number"/>
        <setting default="8081" id="websocket.port" label="Puerto WebSocket" type="number"/>
        <setting type="sep"/>
        <setting id="default_action" type="enum" lvalues="30006|30007|30008" label="30005" default="0"/>
        <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
        <setting id="channel_language" type="labelenum" values="all|es|en|it" label="30019" default="all"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
        <setting label="Uso de servidores" type="lsep"/>
        <setting id="resolve_priority" type="enum" label="Método prioritario" values="Free primero|Premium primero|Debriders primero" default="0"/>
        <setting id="resolve_stop" type="bool" label="Dejar de buscar cuando encuentre una opción" default="true"/>
        <setting id="hidepremium" type="bool" label="Ocultar servidores de pago sin cuenta" default="false"/>
        <setting id="server_stats" type="bool" label="Enviar estadisticas sobre el uso de servidores" default="true"/>
        <setting type="sep"/>
        <setting label="Canales para adultos" type="lsep"/>
        <setting id="adult_aux_intro_password" type="text" label="Contraseña:" option="hidden"  default=""/>
        <setting id="adult_mode" type="enum" values="Nunca|Siempre|Solo para esta sesión" label="30002" enable="!eq(-1,)" default="0"/>
        <setting id="adult_request_password" type="bool" label="Solicitar contraseña para abrir canal de adultos"  enable="!eq(-1,0)+!eq(-2,)" default="true"/>
        <setting id="adult_aux_new_password1" type="text" label="Nueva contraseña:" option="hidden" enable="!eq(-3,)" default=""/>
        <setting id="adult_aux_new_password2" type="text" label="Confirmar nueva contraseña:" option="hidden" enable="!eq(-1,)" default=""/>

        <!--<setting type="sep"/>-->
        <!--<setting label="Actualizaciones" type="lsep"/>-->

        <!--<setting id="plugin_updates_available" type="number" label="Number of updates available" default="0" visible="false"/>-->
        <!--<setting id="check_for_plugin_updates" type="bool" label="30001" default="true"/>-->
        <!--<setting id="check_for_channel_updates" type="bool" label="30004" default="true"/>-->
    </category>

    <!-- Path downloads and subtitles -->
    <category label="30501">
        <!--setting id="subtitulo" type="bool" label="30021" default="false"/>
        <setting id="subtitle_type" type="enum" lvalues="30432|30434|30433" label ="30431" enable ="eq(-1,true)" default="0"/>
        <setting id="subtitlepath_folder" type="folder" source="" enable = "eq(-1,0)+eq(-2,true)" label="30435" default=""/>
        <setting id="subtitlepath_file" type="file" source="" enable = "eq(-2,2)+eq(-3,true)" label="30436" default=""/>
        <setting id="subtitlepath_keyboard" type="text" enable ="eq(-3,1)+eq(-4,true)" label="30437" default=""/>

        <setting type="sep"/-->
        <setting id="downloadpath" type="text" label="30017" default=""/>
        <setting id="downloadlistpath" type="text" label="30018" default=""/>
        <setting id="videolibrarypath" type="text" label="30067" default=""/>

        <setting type="sep"/>
        <setting label="Nombre de carpetas" type="lsep"/>
        <setting id="folder_tvshows" type="text" label="Series" default="SERIES"/>
        <setting id="folder_movies" type="text" label="Peliculas" default="CINE"/>
    </category>
</settings>